/* remove default browser spacing*/
* {
  margin: 0px;
  padding: 0px;
}

.container{
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  background-image:url('flo.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: brown; 

}
.container header{
  height: 40px;    
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  color: white;

  box-shadow: 0 2px 5px rbga(0,0,0,0.4);
  
}

.container header a {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: white    ;
}

header a img{
  border-radius: 100%;
  border: 2px solid lightblue;
}

header a label{
  font-weight: 900;
  letter-spacing: 1px;
  text-shadow: 0 2px 3px 5px rgba(255, 255, 255, 0.3);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header .site_nav ul{
  list-style: none;
  display: flex;
  gap: 15px;
}


main .intro{
  color: white;
  margin-top: 100px;
  text-align: center;
  font-size: 3rem;

}

.intro *{
  
  text-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}

.intro h1{
  text-shadow: 
      0 1px 0px white,
      1px 2px 0px hsl(0, 0%, 80%),
      1px 3px 0px hsl(0, 0%, 70%),
      2px 4px 0px hsl(0, 0%, 60%),
      3px 5px 0px hsl(0, 0%, 500%);
}

.intro .button{
  background-color: cornflowerblue;
  outline: none;
  border: none;
  padding: 10px 25px;
  
  border-radius: 25px;
  color: white;
  font-weight: bold;

  transition: 250ms;
  text-decoration: none;

  text-shadow: none;
  font-size: 18px;
}

.intro .button:hover{
  opacity: 0.8;
  scale: 1.2;
}


.products{
  display: flex;

  display: flex;
  gap: 25px;
  justify-content: center;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 10px;
  
}

h3{
  text-align: center;
  margin-top: 20px;
  

}
.products .card{
  height: 400px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 200ms;
  padding-top: 20px;
}

.products .card:hover{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

p{
  margin-top: 15px;
}


form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

legend {
  align-self: center;
}

label {
  width: 100%;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button {
  align-self: center;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  background-color: #5b4caf;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  width: 40%;
  transition: transform 0.2s ease;
}

button:hover {
  background-color: #94a045;
  transform: scale(1.1);
}

h1 {
  align-self: center;
}

section {
  display: flex;
  flex-direction: column;
}

li {
  color: red;
}

/*title text style*/
/* the font-family 'JetBrains Mono', has been linked
 * and is available for your use
 * */
